* {
    margin: 0;
    font-family: "Arial";
     box-sizing: border-box;
}
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
/* #box1 */
.nav-logo {
    height: 50px;
    width: 100px;
}
.logo {
    background-image: url("images/amazon-logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;         
}
.border {
     border: 1.5px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
}
/* #box2 */
.nav-address {
    height: 50px;
    width: 80px;
    padding: 0px 9px;
}
.add-icon {
    display: flex;
    align-items: center;
    
}
.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-sec {
    color: white;
    font-size: 1rem;
    margin-left: 3px;
    padding: 0px 0px 1px;   
}
/* #box3 */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: darkorange;
    width:600px;
    height:40px;
    border-radius: 5px;
}
.search-select {
    background-color: #ececec;
    color: #0F1111;
    font-size: 1rem;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:none;

}
.search-input {
    width:100%;
    background-color: #ffffff;
    color: #0F1111;
    border:none;
    font-size: 1rem;

}
.nav-search:hover {
    border: 2px solid orange;
}
.search-icon {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: rgb(255,175,0);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0F1111;
}
/* #box4 & 5 */
span {
    font-size: 0.75rem;
}
.nav-sec {
    font-size: 0.85rem;
    font-weight: 700;
}
/* #box6 */
.nav-cart i{
    
    font-size: 30px;
}
.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}
/* panel-sec*/
.panel {
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}
/*hero */
.hero-section {
    background-image: url("images/hero_img.jpg");
    background-size: cover;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 25px;

}
.hero-msg a{
    color: #007185;
}
/* shop section */
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#e7a7b3;
}
.box {
    height: 400px;
    border: none;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-img {
    
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content p{
    color:#007185 ;
}
.rhf-frame {
    width: 100%;
    max-width: 1300px;
    margin: auto;
 
}

.rhf-border {
    height: 180px;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 0 20px;
    width: 100%;
    max-width: 1300px;
    margin: auto;

}

.rhf-shoveler {
    width: 1100px;
    height: 20px;
    padding:10px;
    
}

.rhf-sign-in-title {
    font:24px;
    width:1200px;
    height:36px;
    display:flex;
    align-items:center;
    justify-content:center;  
    margin-top:20px;
    
}

.rhf-sign-in-button {
    width: 1200px;
    height: 100px;
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;   
}

.a-button-text {
    width:100px;
    height:30px;
    color: #0F1111;
    font-size: 16px;
    border:0px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #ffc612;
    padding: 5px 11px;

}
.rhf-new {
    width:1230px;
    height: 20px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navFooter {
    
    width: 100%;
    background-color: #232f3e;
    color: #ffffff;


}
.navfooterbacktotop {
    width: 100%;
    max-width: 1350px;
    margin: auto;
    height: 50px;
    background-color: #405d80d0;


 }

.navfooterbacktotoptext {
    width:1300px;
    height: 40px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px 0px;

}
.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.foot-panel2 ul {
    margin-top: 20px;
}

.foot-panel2 ul p {
    font-weight: 700;
}

.foot-panel2 ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.nav-footer-line {
    width: 100%;
    height: 1px;
    background-color: #3a4553;
}

/* Footer middle section like Amazon */
.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid #3a4553;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-center {
    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 15px;                     
    width: 100%;
    padding-left: 20px;          
}


.footer-logo {
    height: 32px;
    width: auto;
}

.footer-selectors {
    display: flex;
    gap: 10px;       
    align-items: center;
}


.footer-box {
    border: 1px solid #848688;
    color: #ccc;
    padding: 6px 12px;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 3px;
    cursor: pointer;
}

.footer-box i {
    font-size: 12px;
}

.flag {
    width: 18px;
    height: 12px;
    
}


.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 300px;
    font-size: 0.7rem;
    text-align: center;
}

.pages {
    padding-top: 20px;
}

.pages a {
    margin-left: 10px;
}

.copyright {
    padding-top: 5px;
}
